/* App.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('./images/back.jpg'); /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: aqua;
}

.App-header {
  background-color: rgba(44, 62, 80, 0.8); /* Dark blue-gray background color with some transparency */
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 2rem;
  color: #154551; /* Light gray text color */
}


/* ... rest of your styles ... */
